{% extends "COMBlogBundle::blog.html.twig" %}

{% block title %}
  Blog
{% endblock %}


{% block blog_body %}
	<div class="cr">
		<div class="ct">
			<div id="bg_list" style="overflow:hidden">
				<div class="bgl">
					<div>
						{% for post in posts %}
						<div>
							<a href="{{ path('com_blog_view', {'slug': post.slug}) }}">{{ post.title }}</a>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="bgr" style="">
					<div style="min-height:400px; margin:10px; width:auto; background:#ccc"></div>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
{% endblock %}
