{% extends "COMBlogBundle::blog.html.twig" %}

{% block title %}
  Blog
{% endblock %}


{% block blog_body %}
	<div class="cr">
		<div class="ct">
			<div id="bg_list" style="overflow:hidden">
				<div class="bgl">
					<div>
						{% for post in posts %}
							{{ include("COMBlogBundle:blog:include/post_item.html.twig") }}
						{% endfor %}
					</div>
				</div>
				<div class="bgr" style="">
					<div style="min-height:400px; margin:10px; width:auto; background:#fff">
						<div style="min-height:20px; background:#fff;margin-bottom:6px;padding:20px;border-radius:4px;font-weight:bold">
							Categorie
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							lorem
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							ipsum
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							lorem
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							ipsum
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							lorem
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							ipsum
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							lorem
						</div>
						<div style="min-height:20px; background:#ddd;margin-bottom:6px;padding:10px;border-radius:4px">
							ipsum
						</div>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
