{% extends "COMBlogBundle::blog.html.twig" %}

{% block title %}
  Blog
{% endblock %}


{% block blog_body %}
	<div class="cr">
		<div class="ct">
			<div id="bg_list" style="overflow:hidden">
				<div class="bgl">
					<div>
						{% for post in posts %}
							{{ include("COMBlogBundle:blog:include/post_item.html.twig") }}
						{% endfor %}
					</div>
				</div>
				<div class="bgr" style="">
					<div style="min-height:400px; margin:10px; width:auto; background:#eee"></div>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
{% endblock %}
