/**************liste school***************/
.bgl{
	float:left;
	width:960px;
	margin-top:10px;
	box-sizing:border-box;
	padding:0 10px;
}
.bgr{
	margin-left:960px;
	border-top:1px solid transparent;
	width:240px
}
.post_item{
	margin-bottom:20px
}
.post_item .post_title{
	font-size:18px;
	margin: 8px 0;
}
.post_item .meta_info{
    min-height: 14px;
	margin-bottom: 15px;
}
.post_item .meta_info .date_info, .post_item .meta_info .tag_info, .post_item .meta_info .comment_info {
    display:inline-block;
	padding-right: 20px;
}
.post_item .post_image{
	margin-bottom: 12px;
}
.post_item .post_action{
	margin-bottom: 16px;
}
/*.post_item .post_action a{
	font-size: 16px;
    height: 24px;
    line-height: 24px;
    padding: 0px 12px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #225599 0px, #3366aa 100%) repeat scroll 0 0;
    border-bottom: 2px solid #225599;
    color: #fff;
}*/
/*
.post_ct{
	margin-left:170px; 
	background:#eee
}
*/
