/**************liste school***************/
.bgl{
	float:left;
	width:960px;
	margin-top:10px;
	box-sizing:border-box;
	padding:0 10px;
}
.bgr{
	margin-left:960px;
	border-top:1px solid transparent;
	width:240px
}
