.both{
	display:block;
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.taleft{
	text-align:left;
}
.ct10{
	margin-left:10px;
	margin-right:10px
}
.sp{
	background:#ccc; 
	height:1px; 
	width:100%
}
/*margin 5*/
.mg_5{
	margin:5px;
}
.mg_h5{
	margin-left:5px;
	margin-right:5px
}
.mg_v5{
	margin-top:5px;
	margin-bottom:5px
}
.mg_t5{
	margin-top:5px;
}
.mg_b5{
	margin-bottom:5px;
}
.mg_r5{
	margin-right:5px;
}
.mg_l5{
	margin-left:5px;
}
/*margin 10*/
.mg_10{
	margin:10px;
}
.mg_h10{
	margin-left:10px;
	margin-right:10px
}
.mg_v10{
	margin-top:10px;
	margin-bottom:10px
}
.mg_t10{
	margin-top:10px;
}
.mg_b10{
	margin-bottom:10px;
}
.mg_r10{
	margin-right:10px;
}
.mg_l10{
	margin-left:10px;
}
/*margin 20*/
.mg_20{
	margin:20px;
}
.mg_h20{
	margin-left:20px;
	margin-right:20px
}
.mg_v20{
	margin-top:20px;
	margin-bottom:20px
}
.mg_t20{
	margin-top:20px;
}
.mg_b20{
	margin-bottom:20px;
}
.mg_r20{
	margin-right:20px;
}
.mg_l20{
	margin-left:20px;
}
/* padding 5 */
.pd_5{
	padding:5px;
}
.pd_h5{
	padding-left:5px;
	padding-right:5px
}
.pd_v5{
	padding-top:5px;
	padding-bottom:5px
}
.pd_t5{
	padding-top:5px;
}
.pd_b5{
	padding-bottom:5px;
}
.pd_r5{
	padding-right:5px;
}
.pd_l5{
	padding-left:5px;
}
/* padding 10 */
.pd_10{
	padding:10px;
}
.pd_h10{
	padding-left:10px;
	padding-right:10px
}
.pd_v10{
	padding-top:10px;
	padding-bottom:10px
}
.pd_t10{
	padding-top:10px;
}
.pd_b10{
	padding-bottom:10px;
}
.pd_r10{
	padding-right:10px;
}
.pd_l10{
	padding-left:10px;
}

/* green and red state */
.toggle_publishState_post, .toggle_showAuthorState_post, .toggle_validState_post, .toggle_deleteState_post, .toggle_publishState, .toggle_publishState_field , .toggle_publishState_contact {
	cursor:pointer; 
	display:inline-block
}
.greenpastille{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50% 50%; 
	background:#c00
}
.redpastille{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50% 50%; 
	background:#0c0
}