footer{
}

#footer_navigation{
	background:#ddd;
	min-height: 120px;
}

#footer_navigation_content{
}


#footer_navigation_content ul{
	padding: 0px;
	margin:0px
}


#footer_navigation_content ul li{
	list-style-type: none;
	display: inline;
}

#newsletter{
	background:#bbb;
	min-height: 100px;
}

#newsletter_content{
	width: 1200px;
	margin: auto;
}

#copyright{
	background:#ccc;
	min-height: 120px;
}

#copyright_content{
}