#sl_gl{
	background:#ddd;
	padding-top:6px;
}
#sl_dl{
	
}
/**************liste school***************/
.sl_item{
	width:220px;
	box-sizing:border-box;
	margin:10px;
	float:left;
	background:#eee
}
.sl_logo{
	width:220px;
	height:140px;
	background:#ccc;
	text-align:center;
}
.sl_label{
	width:220px;
	height:60px;
	background:#bbb;
	text-align:center;
}
.sl_action{
	width:220px;
	height:40px;
	background:#aaa;
	text-align:center;
}
/**************end liste school************/
#sl_onglet_head{
	/*border-bottom: 2px solid #ccc; */
	margin: 0px 0 0 0; 
	padding-top:10px;
	background:#ddd;
}
#sl_onglet_head .tab_sl_item{
	cursor:pointer;
	display:inline-block;
	padding: 6px 10px;
	color:#444;
	background:#bbb;
	border-radius: 4px 4px 0 0;
}

#sl_onglet_head .tab_sl_item.selected{
	color:#000;
	background:#fff;
}
