#sl_gl{
	background:#ddd;
	padding-top:6px;
}
#sl_dl{
	
}
/**************liste school***************/
#sl_list{
	padding:10px 0;
	overflow:hidden
}
.sll{
	float:left;
	width:960px
}
#sll_load_list{
	background:rgba(255,255,255,0.8);
	font-size:25px; 
	position:absolute;
	z-index:10;
	box-sizing:border-box; 
	padding-top:50px;
	text-align:center
}
.sll_ct{
	margin:auto
}
.sl_item{
	width:220px;
	box-sizing:border-box;
	margin:10px;
	border:1px solid #ddd;
	border-radius:3px;
	overflow:hidden
}
.sl_related .sl_item{
	display:inline-block;
}
.sll_ct .sl_item{
	float:left
}
.sl_header{
	width:auto;
	height:140px;
	background:#fff;
	text-align:center;
	overflow:hidden;
	position:relative;
	z-index:5;
}
.sl_logo{
	width:218px;
	height:140px;
	background:#fff;
	text-align:center;
	position:absolute;
	z-index:4;
}
.sl_short_description{
	box-sizing: border-box;
	padding:3px 3px;
	width:218px;
	height:140px;
	background:rgba(255,255,255,0.9);
	display:none;
	position:absolute;
	overflow:hidden;
	z-index:4;
}
.sl_item:hover .sl_short_description{
	display:block;
}
.sl_label{
	width:auto;
	height:65px;
	background:#eee;
	text-align:center;
	overflow:hidden
}
.sl_shortname{
	font-weight:bold
}
.sl_action{
	width:auto;
	height:40px;
	background:#f8f8f8;
	text-align:center;
}
.sl_action_about, .sl_action_bg, .sl_action_at, .sl_action_evaluation, .sl_action_contact{
	display:inline-block;
	width: 39px;
	height:32px;
	margin:4px 0px;
	background: #f5f5f5;
	vertical-align: top;
	box-sizing:border-box;
}
.sl_action_about:hover, .sl_action_bg:hover, .sl_action_at:hover, .sl_action_evaluation:hover, .sl_action_contact:hover{
	background: #ffffff;
	border: 1px solid #ddd;
}
.sl_action_about a, .sl_action_bg a, .sl_action_at a, .sl_action_evaluation a, .sl_action_contact a{
	display:block;
	padding-top:4px
}
.sl_action_about a img, .sl_action_bg a img, .sl_action_at a img, .sl_action_evaluation a img, .sl_action_contact a img{
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
}
.sl_action_about a:hover img, .sl_action_bg a:hover img, .sl_action_at a:hover img, .sl_action_evaluation a:hover img, .sl_action_contact a:hover img{
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
}
/*
.sl_action_about, .sl_action_evaluation{
	width: 50px;
}
*/
.sll_pagination{
	margin:10px 0;
	text-align:center
}
.sll_pagination_item{
	display:inline-block;
	box-sizing:border-box;
	width:40px;padding:6px 0; 
	text-align:center;
	border : 1px solid #ddd; 
	margin-bottom: 3px;
}
.sll_pagination_item:hover{
	border : 1px solid #aaa; 
}
.sll_pagination_item.active{
	background:#eee
}
.slr{
	margin-left:960px;
	border-top:1px solid transparent;
	width:240px
}
/**************end liste school************/
#sl_onglet_head{
	/*border-bottom: 2px solid #ccc; */
	margin: 0px 0 0 0; 
	padding-top:10px;
	background:#ddd;
}
#sl_onglet_head .tab_sl_item{
	cursor:pointer;
	display:inline-block;
	padding: 6px 10px;
	color:#444;
	background:#bbb;
	border-radius: 4px 4px 0 0;
}

#sl_onglet_head .tab_sl_item.selected{
	color:#000;
	background:#fff;
}
/***********begin school of the day ********************/
#sl_oftheday_title{
	font-size: 20px; 
	margin:10px; 
	font-weight:bold;
	cursor:pointer;
}
#sl_oftheday_desc{
	margin:10px;
	display:none;
	text-align:justify;
}
#sl_oftheday_wrap{
	margin:10px;
}
.sl_oftheday  .cover_box{
	border-radius:4px; 
	box-sizing:border-box; 
	border: 4px solid #ddd; 
	width:100%;
	min-height:300px;
	position:relative; 
	z-index:5;
}
.sl_oftheday  .label{
	margin-left:184px;
	margin-top:165px;
	background:transparent;
}
.sl_oftheday  .label a{
	color:#fff;
	font-size:18px;
	text-shadow: 1px 1px 3px #000;
}
.sl_oftheday  .logo_box{
	float:left;
	width:174px;
	position:relative; 
	z-index:6;
}
.sl_oftheday  .logo_box img{
	background:#fff; 
	width: 160px; 
	height: 160px; 
	border:4px solid #ddd; 
	border-radius:5px;
	margin-top:-132px; 
	margin-left:14px;
	position:relative; 
	z-index:7
}
.sl_oftheday  .link_box{
	margin-left:184px; 
	/*height:40px; */
	background:#fff;
	text-align:right;
	box-sizing:border-box; 
	padding:0 6px
}
.sl_oftheday  .link_item{
	height:32px;
	margin-left:4px;
	margin-top:4px;
	box-sizing:border-box; 
	background:#eee; 
	border:1px solid #999; 
	display:inline-block;
}
.sl_oftheday  .link_item a{
	display:block;
	padding:5px 10px
}
.sl_oftheday  .under{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd; 
	border-radius:0 0 4px 4px ;
	height:14px;width:100%; 
	box-sizing:border-box;
	margin-top:-13px;
}
/***********end school of the day ********************/
/*********** begin school of the day right list********************/
#sl_oftheday_right .title{
	font-size: 20px; 
	margin:10px 10px 0px 10px ; 
	font-weight:bold; 
	background:#ddd; 
	text-align:center; 
	padding:10px; 
	border-bottom:3px solid #aaa
}
#sl_oftheday_right .sl_desc{
	margin:10px;text-align:center
}
/**view school**/
#sl_view_logo{
	width: 100px; 
	height: 100px; 
	border:4px solid #ddd; 
	border-radius:7px;
	margin-top:-30px;
	background:#fff
}
#sl_view_name{
	margin-left: 120px; 
	color:#333; 
	font-size:17px; 
	margin-bottom: 6px;
	font-weight:bold
}
#sl_view_description{
	margin-left: 120px;
	text-align:justify
}
#sl_view_action{
	margin-left: 120px; 
	margin-top:10px
}

@media screen and (max-width: 700px)
{
	#sl_view_logo{
		margin-top:-60px;
	}
	#sl_view_name{
		min-height:50px
	}
	#sl_view_description{
		margin-left: 0px;
	}
	#sl_view_action{
		margin-left: 0px; 
	}
}

/**** tab evaluation *****/
.eval_star_item, .eval_star_view_item{
	border-radius:50%; 
	width:14px; 
	height:14px; 
	border:1px solid #2a2;
	background:#fff;
}
.eval_star_item{
	cursor:pointer; 
}
.eval_star_item.selected, .eval_star_view_item.selected{
	background:#2a2;
}