body{
	margin:0px;
	font-family: calibri, arial;
	font-size: 16px;
}

a{
	text-decoration:none;
	color:#222;
}

a:hover{
	color:#299;
}
.both{
	display:block;
	clear:both;
}
.bold{
	font-weight:bold
}

.default_input{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	height: 30px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri, arial;
	font-size: 16px;
}

.default_input:focus{
	box-shadow: 1px 1px 5px #ccc;
}
.default_textarea{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 100%;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 150px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea_2{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 120px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea:focus{
	box-shadow: 1px 1px 5px #ccc;
}
.item_test{
	background: transparent;
	float: left;
	width: 240px; 
}
.item_test div{
	background: #888;
	margin: 10px;
	min-height: 300px;
}
.sep{
	background:#ccc; 
	height:1px; 
	width:100%; 
	margin:12px 0
}


@media screen and (max-width: 370px)
{
    .default_input, .default_textarea_2{
		width: 100%;
	}
}