body{
	margin:0px;
	font-family: calibri, arial;
	font-size: 16px;
}

a{
	text-decoration:none;
	color:#222;
}

a:hover{
	color:#299;
}
.bold{
	font-weight:bold
}

.default_input{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	height: 30px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri, arial;
	font-size: 16px;
}

.default_input:focus{
	box-shadow: 1px 1px 5px #ccc;
}
.default_textarea{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 100%;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 150px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea_2{
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 350px;
	padding:5px;
	box-sizing: border-box;
	font-family: calibri;
	font-size:16px;
	resize:vertical;
	min-height: 120px;
	font-family: calibri, arial;
	font-size: 16px;
}
.default_textarea:focus{
	box-shadow: 1px 1px 5px #ccc;
}
.item_test{
	background: transparent;
	float: left;
	width: 240px; 
}
.item_test div{
	background: #888;
	margin: 10px;
	min-height: 300px;
}
.sep{
	background:#ccc; 
	height:1px; 
	width:100%; 
	margin:12px 0
}


@media screen and (max-width: 370px)
{
    .default_input, .default_textarea_2{
		width: 100%;
	}
}

.label_title{
	border: 1px solid #ddd; 
	background:#f8f8f8; 
	padding: 8px;
	margin:10px 0
}

.pm_bloc{
}

.pm_form{
	float:left; 
	width:370px;
}

.pm_form_wrap{
	margin:10px 0;
}

.pm_form_wrap .sex_item{
	display:inline-block
}

.pm_desc{
	margin-left:370px
}

.pm_desc h1{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px
}

.pm_desc p{
	text-align:justify
}

.home_sl_info{
	width:33%;float:left
}

.home_pm_info{
	width:34%;float:left
}

.home_fm_info{
	width:33%;float:left
}

.home_item_ct{
	margin:10px;
	border:1px solid #ddd; 
	background:#f5f5f5;
	text-align:center
}

@media screen and (max-width: 790px)
{
	.home_sl_info{
		width:100%;float:none
	}

	.home_pm_info{
		width:50%;float:left
	}

	.home_fm_info{
		width:50%;float:left
	}
}

@media screen and (max-width: 780px)
{
    .pm_form{
		float:none;
		width:auto;
	}

	.pm_form_wrap{
		width:350px;
		margin:auto;
		padding : 0 10px;
	}
	
    .pm_form_wrap .default_input{
		width:100%
	}

	.pm_desc{
		margin-top:10px;
		margin-left:0px
	}
}

@media screen and (max-width: 430px)
{

	.home_pm_info{
		width:100%;float:none
	}

	.home_fm_info{
		width:100%;float:none
	}
}

@media screen and (max-width: 390px)
{

	.pm_form_wrap{
		width:100%;
		box-sizing:border-box
	}
}