{% extends "COMUserBundle::user.html.twig" %}

{% block title %}
	Password recuperation
{% endblock %}


{% block user_body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div style="border: 1px solid #ddd; background:#f8f8f8; padding: 5px; margin:10px 0">
					<span style="font-weight:bold">Password recuperation.</span>
				</div>
				<div style=" float:left; width:370px">
					<div style="margin:10px 0">
						<form name="" method="post" action="{{ path('com_user_set_new_password') }}" id="form-inscription">
							<div>
								<div>                
									<div><label for="email" class="required">{{ 'email' | trans }} :</label></div>
									<div><input type="email" id="email" name="email" required="required" value="" class="default_input" /></div>
								</div>
								
								<div style="margin-top : 10px">
									<button type="submit" id="Inscription" name="setNewPassword" class="standar_button">{{ 'recuperer mon mot de passe' | trans }}</button>
								</div>
							</div>
						</form>
					</div>
					{% if error != "" %}
						<div>
							{{ error }}
						</div>
					{% endif %}
				</div>
				<div style="margin-left:380px">
					<h1 style="font-size:16px;font-weight:bold;margin-bottom:10px">
						rus Epigonum et Eusebium nec professionem nec dignitatem ostende
					</h1>
					<div style="">
						<p>Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum et Eusebium nec professionem nec dignitatem ostendens aliquotiens increpabat, qui sint hi magna quaerebatur industria, et nequid intepesceret, Epigonus e Lycia philosophus ducitur et Eusebius ab Emissa Pittacas cognomento, concitatus orator, cum quaestor non hos sed tribunos fabricarum insimulasset promittentes armorum si novas res agitari conperissent.</p>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
