{% extends "COMUserBundle::user.html.twig" %}

{% block title %}
	Password recuperation
{% endblock %}


{% block user_body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div style="border: 1px solid #ddd; background:#f8f8f8; padding: 5px; margin:10px 0">
					<span style="font-weight:bold">Password recuperation.</span>
				</div>
				<div>
					<div style="">
						<p>votre nouveau mot de passe est envoyé par mail sur {{email}}. Veuillez verifier dans vos dossier spam.</p>
						<p>vous pouvez vous connecter maintenant avec votre nouvel identifiant. password : <span style="color:#55f">{{password}}</span></p>
						<p>
							<a class="link" href="{{ path('com_user_login') }}">
								<span>{{ 'sign.in' | trans }}</span>
							</a>
						</p>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
