{% extends "COMSchoolBundle::school.html.twig" %}

{% block title %}
  School - categories
{% endblock %}


{% block school_body %}
	<div class="cr">
		<div class="ct">
			<div style="margin:30px 0px;">
				<div class="fm_list_topic">
					{% for category in categories %}
						{{ include("COMSchoolBundle:school:include/school_category_item.html.twig") }}
					{% endfor %}
					<div class="both"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
