{% extends "COMSchoolBundle::school.html.twig" %}

{% block title %}
  Schools
{% endblock %}


{% block school_body %}
	<div class="cr">
		<div class="ct">
			<div id="sl_list" style="overflow:hidden">
				<div class="sll" style="background:transparent">
					<div class="sll_ct" style="">
						{% for school in schools %}
							{{ include("COMSchoolBundle:school:include/school_item.html.twig") }}
						{% endfor %}
						<div style="clear:both"></div>
					</div>
				</div>
				<div class="slr" style="">
					<div style="min-height:500px; margin:10px; width:auto; background:#eee"></div>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
{% endblock %}
