{% extends "COMSchoolBundle::school.html.twig" %}

{% block title %}
  Schools
{% endblock %}


{% block school_body %}
	<div class="cr">
		<div class="ct">
			<div id="sl_list">
				<div class="sll">
					<div class="sll_ct" style="">
						{% for school in schools %}
							<div class="sl_item_list">
							{{ include("COMSchoolBundle:school:include/school_item.html.twig") }}
							</div>
						{% endfor %}
						<div class="both"></div>
					</div>
				</div>
				<div class="slr" style="">
					<div id="sl_oftheday_right">
						{# twig extension #}
						{% set school = getSchoolById(2) %}
						<div class="title">
							<span>The school <br />of the day</span>
						</div>
						<div style="">
						{{ include("COMSchoolBundle:school:include/school_item.html.twig") }}
						</div>
						{% set schoolTranslate = getSchoolTranslate(school, locale) %}
						<div class="sl_desc">{{ schoolTranslate.shortDescription }}</div>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
