{% extends "COMSchoolBundle::school.html.twig" %}

{% block title %}
  Schools
{% endblock %}


{% block school_body %}
	<div class="cr">
		<div class="ct">
			<div>
				School
			</div>
			<div>
				Liste des instituts.
			</div>
			<div>
				<div style="display:none">
				<div class="item_test"><div>1</div></div>
				<div class="item_test"><div>1</div></div>
				<div class="item_test"><div>1</div></div>
				<div class="item_test"><div>1</div></div>
				<div class="item_test"><div>1</div></div>
				<div class="item_test"><div>1</div></div>
				<div class="item_test"><div>1</div></div>
				<div class="item_test"><div>1</div></div>
				<div style="clear:both"></div>
				</div>
				{% for school in schools %}
				<div>
					<a href="{{ path('com_school_view', {'slug': school.slug}) }}">{{ school.name }}</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
