{% extends "::front.html.twig" %}

{% block title %}
  School platform
{% endblock %}

{% block body %}
	<div id="content">
		<div class="cr">
			<div class="ct">
				Zone Blog
			</div>
		</div>
		{% block blog_body %}
				
		{% endblock %}
	</div>
{% endblock %}