<div id="copyright" class="cr">
	<div id="copyright_content" class="ct bold" style="text-align:center">
		<div><a href="{{ path('com_platform_home') }}" class=""><img src="{{ asset('assets/image/oio.svg')  }}" style="width:35px; height:35px;display: inline-block; vertical-align: middle;" /></a></div>
		<div><span>Copyright © 2017 oio.</span></div>
	</div>
</div>