<div class="school_subscriber_item">
	{# twig extension #}
	{% set avatar=userAvatar(schoolSubscriber.user) %}
	{% if avatar != "default.jpeg" %}
		{% set pathtoavatar='uploads/images/user/avatar/'~avatar %}
	{% else %}
		{% set pathtoavatar='default/images/user/avatar/'~avatar %}
	{% endif %}
	<div style="float:left; width:60px; height:60px">
		<img id="user_avatar" style="width: 60px; height: 60px" src="{{ pathtoavatar | imagine_filter('60x60') }}" alt="img ur" />
	</div>
	<div style="margin-left:65px">
		<span>{{ schoolSubscriber.user.name }}</span><br />
		<span>{{ schoolSubscriber.user.email }}</span><br />
		<span>{{ schoolSubscriber.user.username }}</span>
	</div>
	<div class="both"></div>
	<div style="background:#ccc; height:1px; width:100%; margin:4px 0"></div>
</div>