<div style="">
	{% if schoolContacts|length == 0 %}
		<div id="" class="mg_10">
			Aucun contact à afficher
		</div>
	{% else %}
		<div id="" class="mg_5">
			{{ schoolContacts|length }} Contact(s)
		</div>
		<div id="contact_list">
			{% for schoolContact in schoolContacts %}
				{{ include("COMSchoolBundle:school:include/contact_item.html.twig") }}
			{% endfor %}
		</div>
	{% endif %}
</div>