<div class="mg_10">
	<div>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<div id="my_evaluation">
				{{ include("COMSchoolBundle:school:include/my_evaluation.html.twig") }}
			</div>
		{% else %}
			<div id="my_evaluation" class="pd_t5">
				<a class="link" href="{{ path('com_user_login') }}">Connectez-vous pour pouvoir partager votre évaluation</a>
			</div>
		{% endif %}
	</div>
	{% if evaluations|length == 0 and myEvaluation is null %}
		<div id="evaluation_list" class="mg_v10">
		</div>
		<div id="evaluation_empty" class="mg_v10">
			Aucune évaluation à sur l'établissement : {{ school.name }}
		</div>
	{% else %}
		<div id="evaluation_list">
			{% for evaluation in evaluations %}
				{{ include("COMSchoolBundle:school:include/evaluation_item.html.twig") }}
			{% endfor %}
		</div>
	{% endif %}
</div>