{% extends "::front.html.twig" %}

{% block title %}
  Advert platform
{% endblock %}

{% block body %}
	<div id="content">
		<div class="cr">
			<div class="ct">
				Advert Platform...
			</div>
		</div>
		{% block advert_body %}
				
		{% endblock %}
	</div>
{% endblock %}