{% extends "::front.html.twig" %}

{% block title %}
  Advert platform
{% endblock %}

{% block body %}
	<div id="content">
		{% block advert_body %}
			<div class="cr">
				<div class="ct">
					Advert Platform...
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}