{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
  Accueil
{% endblock %}


{% block platform_body %}
	<div class="cr">
		<div class="ct">
			Bienvenue!!! Ny fianarana no lova tsara indrindra.
		</div>
	</div>
{% endblock %}
