{% extends "::front.html.twig" %}

{% block title %}
  User platform
{% endblock %}

{% block body %}
	<div id="content">
		{% block user_body %}
			<div class="cr">
				<div class="ct">
					user platform
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}