{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
  Accueil
{% endblock %}


{% block platform_body %}
	<div class="cr">
		<div class="ct">
			<div>
				A propos.
			</div>
			<div>
				Vous êtes étudiants ou non, vous cherchez une ecole à intégrer, ou vous voulez tout simplement savoir les dernières informations sur les universités exisantes?
				Alors vous êtes tombés juste sur le bon site. bonne navigation!!!
			</div>
		</div>
	</div>
{% endblock %}
