{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
  Mentions légales
{% endblock %}


{% block platform_body %}
	<div class="cr">
		<div class="ct">
			<div>
				Mentions légales.
			</div>
			<div>
				Lorem ipsum mentions legales.
			</div>
		</div>
	</div>
{% endblock %}
