{% extends "::front.html.twig" %}

{% block title %}
  School platform
{% endblock %}

{% block body %}
	<div id="content">
		{#
		<div class="cr">
			<div class="ct">
				school platform
			</div>
		</div>
		#}
		{% block platform_body %}
				
		{% endblock %}
	</div>
{% endblock %}