<div id="a_header_left">
	<div style=" background:#aaa; width:50px; height: 50px;float:left; text-align:center; font-size:36px">
		BS
	</div>
	<div style="margin-left:50px;height: 50px;; text-align:center">
		<span style="padding-top:14px; display:inline-block;">
			<a href="{{ path('com_admin_home') }}">
				<span>BootSchoDa 1.0</span>
			</a>
		</span>
	</div>
</div>

<div id="a_header_right">
	<div style="float:left; background:#789">
		
	</div>
	<div style="float:right; padding-top: 8px">
		<div class="dd" style="display:inline-block;">
			<a href="#" class="dd_src standar_button" style="">
				<span style="display:inline-block; height: 20px;">Français</span>
			</a>
			<div class="dd_target" style="text-align: left; margin-top: 4px; position: absolute; display: none; background: #eee; padding: 4px; border: 1px solid #aaa; border-radius: 4px;">
				Anglais<br />
				Malagasy<br />
				Italien<br />
				Espagnole<br />
				Allemand<br />
			</div>
		</div> 
		<div class="dd" style="display:inline-block;">
			<a href="#" class="dd_src standar_button" style="">
				<span style="display:inline-block; height: 20px;">Fortunat Andriamiarantsoa</span>
			</a>
			<div class="dd_target" style="text-align: left; margin-top: 4px; position: absolute; display: none; background: #eee; padding: 4px; border: 1px solid #aaa; border-radius: 4px;">
				<a class="link" href="test.html">Profil</a><br />
				<a class="link" href="test.html">Deconnexion </a>
			</div>
		</div> 
	</div> 
</div>