{% extends "COMAdminBundle::admin.html.twig" %}

{% block title %}
  Add school
{% endblock %}

{% block body_header %}
	<div style="padding:8px;float:left">
		<span>School </span> 
		<span class="dd" style="display:inline-block;">
			<span href="#" class="dd_src" style="cursor:pointer">
				<span style="
					display:inline-block; 
					border-left: 8px solid #444;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-right: 0px solid transparent;
					">
				</span>
			</span>
			<div class="dd_target" style="text-align: left; margin-top: 4px; position: absolute; display: none; background: #eee; padding: 4px; border: 1px solid #aaa; border-radius: 4px;">
				<a class="link" href="test.html">menu 1</a><br />
				<a class="link" href="test.html">menu 2 </a>
			</div>
		</span> 
		<span>Add school </span>
	</div>
	<div style="padding:8px;float:right">
		<span><a href="{{ path('com_admin_school_add') }}">Ajout</a></td></span> 
	</div>
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		Add school
	</div>
	
	<div class="a_datatable">
		{{ form(formInitSchool) }}
	</div>
{% endblock %}

