{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
	Contact
{% endblock %}


{% block platform_body %}
	<div class="cr">
		<div class="ct">
			{{ msg | raw }}
			<div style="margin:20px">
				Contact...
			</div>
			 {{ form(formContact) }}
		</div>
	</div>
{% endblock %}
