{% extends "COMForumBundle::forum.html.twig" %}

{% block title %}
  Topics forum
{% endblock %}


{% block forum_body %}
	<div class="cr">
		<div class="ct">
			<div style="margin:10px">
				liste des topics forum.
			</div>
			<div class="fm_list_topic">
				{% for topic in topics %}
					{{ include("COMForumBundle:forum:include/topic_item.html.twig") }}
				{% endfor %}
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
{% endblock %}
